<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fhdw.mfws413a.fluffy_potato">

    <application
        android:name=".Data.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Welcome.Init">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Challenge1Of3.Init"></activity>
        <activity android:name=".Activities.ChallengeInput.Init"></activity>
        <activity android:name=".Activities.ChallengeThink.Init"></activity>
        <activity android:name=".Activities.CreateUser.Init"></activity>
        <activity android:name=".Activities.ResponseControl.Init"></activity>
        <activity android:name=".Activities.ResponseFalse.Init"></activity>
        <activity android:name=".Activities.ResponseRight.Init"></activity>
        <activity android:name=".Activities.UserSelection.Init"></activity>
        <activity android:name=".Activities.FileSelection.Init"></activity>
        <activity android:name=".Activities.UserEdit.Init"></activity>
        <activity android:name=".Activities.Score.Init"></activity>
        <activity android:name=".Activities.DetailScore.Init"></activity>
    </application>

</manifest>
