<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fhdw.mfws413a.fluffy_potato">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome.Init">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Challenge1Of3.Init"></activity>
        <activity android:name=".ChallengeInput.Init"></activity>
        <activity android:name=".ChallengeThink.Init"></activity>
        <activity android:name=".CreateUser.Init"></activity>
        <activity android:name=".ResponseControl.Init"></activity>
        <activity android:name=".ResponseFalse.Init"></activity>
        <activity android:name=".ResponseRight.Init"></activity>
        <activity android:name=".UserSelection.Init"></activity>
    </application>

</manifest>
